# HiSeq 2000/2500 - Four-color SBS
#
# High-throughput sequencer with four-color SBS chemistry.
# Highly tolerant of low-diversity libraries.
# i5 read in forward orientation. BCL Convert expects forward i5.

version: "1.0.0"

name: HiSeq 2000/2500
samplesheet_name: HiSeq2500
chemistry_type: 4-color
has_dragen_onboard: false
sbs_chemistry: "Four-color SBS"
i5_read_orientation: forward
samplesheet_v2_i5_orientation: forward
color_balance_enabled: false

onboard_applications:
  BCLConvert:
    software_version: "4.3.6"

flowcells:
  "High Output v4":
    lanes: 8
    reads: 4000000000
    reagent_kits: [50, 100, 125, 250]
    description: "4 billion reads, 8 lanes"
  "Rapid Run v2":
    lanes: 2
    reads: 600000000
    reagent_kits: [50, 100, 150, 200, 250]
    description: "600 million reads, 2 lanes"
